@media screen and (max-width: 768px) {
  .left-up {
    display: none;
  }
  .right-up {
    width: 100%;
  }
  .right-box-up h4:nth-child(2) {
    display: none;
  }
  .right-box-up h4:nth-child(3) {
    display: block;
    font-size: 40px;
  }
}
