.split {
  position: absolute;
  height: 100vh;
  width: 100%;
}

/* left side */
.left-up {
  width: 55%;
  left: 0;
  background: url(../../assets/signup/bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.left-up .logo-up {
  width: 100%;
  height: 100%;
  background: rgba(43, 21, 107, 0.8);
  display: flex;
  padding: 70px 80px;
  flex-direction: column;
}
.left-up .logo-up img {
  width: 250px;
  height: 85px;
}
.left-up .logo-up h1 {
  font-family: "Mulish";
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0.003em;
  color: #ffffff;
}
.left-up .logo-up p {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.007em;

  color: rgba(255, 255, 255, 0.7);
}
.left-up .logo-up .rounded-box {
  display: flex;
  margin-top: 30px;
}
.left-up .logo-up img:nth-child(5) {
  position: absolute;
  width: 2px;
  margin-top: 310px;
  margin-left: 24px;
  height: 36px;
}
.left-up .logo-up img:nth-child(7) {
  position: absolute;
  width: 2px;
  margin-top: 395px;
  margin-left: 24px;
  height: 37px;
}
.left-up .logo-up img:nth-child(9) {
  position: absolute;
  width: 2px;
  margin-top: 481px;
  margin-left: 24px;
  height: 37px;
}

.left-up .logo-up .rounded-box .round.active {
  background: #fff;
  color: var(--tertiary);
}
.left-up .logo-up .rounded-box .round {
  font-family: "Inter";
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #fff;
  color: #fff;
}
.left-up .logo-up .rounded-box p.active {
  color: #fff;
}
.left-up .logo-up .rounded-box p {
  align-self: center;
  margin-top: 10px;
  margin-left: 30px;
  font-family: "Mulish";
  font-weight: 500;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.6);
}

/* right side */
.right-up {
  width: 45%;
  right: 0;
  display: flex;
  align-items: center;
  padding: 0 50px;
}
.right-box-up {
  height: 100%;
  width: 100%;
}
.right-box-up img {
  display: none;
}
.right-box-up h4 {
  font-family: "Inter";
  font-weight: 700;
  font-size: 35px;
  line-height: 58px;
  margin-top: 50px;
  letter-spacing: 0.003em;
  color: #121212;
}
.right-box-up h4:nth-child(3) {
  display: none;
}
.right-box-up h3 {
  font-weight: 700;
  margin-top: 0px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 40px;
}
.right-box-up p:nth-child(2) {
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.007em;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 15px;
  margin-bottom: 40px;
}
.right-box-up form input {
  border: 1px solid #dedede;
  border-radius: 5px;
  width: 100%;
  font-weight: 600;
  padding: 0px 20px;
  height: 50px;
  outline: none;
  font-size: 15px;
}
.right-box-up form input::placeholder {
  font-size: 14px;
  letter-spacing: 0.8px;
}
.right-box-up form label {
  font-weight: 700;
  font-size: 15px;
}
.right-box-up form label,
.right-box-up form input {
  margin: 8px 0;
}
.right-box-up form button {
  margin-top: 2em;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  outline: none;
  border: none;
  background: var(--primary);
  font-family: "Mulish";
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #fff;
  cursor: pointer;
  letter-spacing: 0.75px;
  transition: all 0.3s ease-in-out;
}
.right-box-up form button:hover {
  background: var(--tertiary);
}
.right-box-up .bottom {
  margin-top: 25px;
  text-align: center;
}
.right-box-up .bottom a {
  color: var(--primary);
  font-weight: 700;
  text-decoration: none;
}
.right-box-up .icons {
  margin-left: -35px;
  font-size: 24px;
  cursor: pointer;
  color: #696666;
}
