/* mobile */
@media screen and (max-width: 768px) {
  .navbar {
    background: #fff;
    position: fixed;
    z-index: 2;
  }
  .left {
    margin-left: 0;
  }
  .nav-logo:nth-child(1) {
    padding: 0 10px;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 65px;
    align-items: center;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: #fff;
    transition: all 0.7s ease-in-out;
    opacity: 0;
  }
  .nav-menu p {
    display: block;
    font-weight: 700;
    font-size: 15px;
    margin-top: 5em;
  }
  .nav-menu .btn-su {
    display: block;
    margin-top: 50px;
    background: var(--primary);
    text-transform: uppercase;
    color: #fff;
  }
  .nav-menu .btn-su:hover {
    background: var(--tertiary);
    color: #fff;
  }
  .nav-menu button {
    display: none;
  }
  .nav-menu .nav-links {
    padding: 50px 0;
    font-size: 14px;
  }
  .nav-menu .nav-links a {
    color: #000;
  }
  .nav-menu.active {
    left: 0;
    opacity: 1;
  }
  .nav-icon {
    display: block;
    font-size: 30px;
  }
}
