.navbar {
  position: fixed;
}
.nav-menu {
  display: flex;
  padding: 20px 0;
}
.nav-menu p {
  display: none;
}
.nav-logo img {
  width: 130px;
  height: 50px;
}
.nav-logo:nth-child(2) {
  display: none;
}
.left {
  margin-left: -25em;
}
.nav-menu .nav-links {
  padding: 0 40px;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
}
.nav-menu .nav-links a {
  text-decoration: none;
  color: var(--secondary);
}
.nav-menu button {
  outline: none;
  border: none;
  background: var(--primary);
  border-radius: 5px;
  padding: 12px 40px;
  color: #f7f7fc;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.75px;
  transition: 0.3s ease-in-out;
}
.nav-menu button:hover {
  background: var(--tertiary);
}
.nav-menu .btn-su {
  display: none;
}
.nav-icon {
  display: none;
}